bin/
obj/

.vs/
.vscode/
.idea/

*.cab
*.msi
*.msm
*.msp

# Windows Installer package files
*.pdb

ScaffoldingReadMe.txt

node_modules/

*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.bak

*.cab
*.msi
*.msm
*.msp

project.lock.json
project.fragment.lock.json
artifacts/

